/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.11.2018, 9:21:42
    Author     : Игорь
*/

* {
    margin: 0;
    padding: 0;
}

body {    
    text-align: center;
    background-color: #dddddd;
    font-size: 18px;    
    min-width: 320px;
}

h1 {    
    margin: 1em 1em 0.5em;    
}

p {    
    margin: 1em;
}

#img-div {    
    padding: 1em;
    max-width: 852px; 
    background-color: #ffffff;       
    border-radius: 5px;
    margin: 0 auto;    
}

img { 
    max-width: 832px; 
    width: 95%;
    margin-top: 1em;    
}

#img-caption {
    margin-top: 1em;    
}

#tribute-info {
    max-width:600px; 
    margin: 1em auto;
    text-align: left;     
}

#tribute-info > h2 {  
    text-align: center;
    margin: 0.6em;    
}

ul {
    margin: 1em;
}

li {
     margin-left: 1em;
     margin-top: 0.4em;
}

#h-link {
    font-size: 20px;
    font-weight: bold;    
}

blockquote {
    font-style: italic;    
}